body {
  background: linear-gradient(to right, black, rgb(53, 53, 53));
  color: white;
}

h1 {
  color: rgb(172, 172, 61);
  text-decoration: overline underline;
  text-shadow: -2px 1px 1px yellow;
}
